textarea, input[type="radio"] {
  margin-right: 8px;
}

textarea {
  width: 100%;
  padding: 6px;
  font-size: 14px;
}

li {
  list-style: none;
}


mjx-container {
  overflow-x: auto;
  display: block;
  padding: 0.5rem 0;
}

mjx-math {
  font-size: 1rem;
}
