<div *ngFor="let e of ejercicios; let i = index" class="mb-4">
  <div>
    <strong>{{ i + 1 }}.</strong>
    <span [innerHTML]="formatLatex(e.question)"></span>
  </div>
<br>
  <ul *ngIf="e.options" class="options-list">
    <li *ngFor="let opt of e.options; let j = index" class="option-item">
      <span class="option-label">{{ getOptionLetter(j) }}.</span>
      <span class="option-content" [innerHTML]="formatLatex(opt)"></span>
    </li>
  </ul>
  <div *ngIf="e.type === 'open_ended'" class="mt-2 text-muted">
    <strong>Respuesta esperada:</strong>
    <span [innerHTML]="formatLatex(e.answer)"></span>
  </div>
  <br>
</div>
